* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

div {
    background-color: white;
    text-align: center;
    margin: 100px auto;
    padding: 50px;
    width: 500px;
    height: 200px;
    box-shadow: 0 0 10px black;
}