* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    width: 500px;
    height: 200px;
    box-shadow: 0 0 10px black;
    margin: 50px auto;
    border: 2px solid red;
}

.container h2 {
    margin: 50px auto;
}